@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: #D1D2D1;
}

/* Hide scrollbar for WebKit-based browsers */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}